body { background: #f9f9f9; margin:0; font-size: 14px; font-family: "Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif }
dl, dt, dd, ul, li, p, h1 { margin:0; padding: 0; list-style: none; }

#config {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 18px;
    height: 18px;
    cursor: pointer;
    background: url(config.png);
    background-size: 18px 18px;
}

.config-panel {
    position: absolute;
    right: 10px;
    top: 30px;
    width: 500px;
    padding: 10px;
    border: 3px solid #888;
    border-radius: 10px;
    background: #f5f5f5;

    font-size: 12px;
    z-index:10000;
}

.config-panel p { color: #666; }

.config-panel textarea {
    width: 500px;
    height: 300px;
    box-sizing: border-box;
    font-size: 14px;
    margin-top:5px;
}

h1 {
    padding: 10px 10px 0;
    font-family: 'Open Sans Light',sans-serif;
    font-size: 42px;
    color: #264597;
}

.header li {
    float: left;
    background: #bad5f1;
    color: #333;
    padding: 3px 5px;
    margin: 3px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: normal;
    height: 26px;
    box-sizing: border-box;
}


.header input {
    margin-top: 3px;
    width: 400px;
    border: 1px solid #264597;
    box-sizing: border-box;
    height: 26px;
}

.header button {
    margin: 3px 10px 3px 0;
    background: #264597;
    border: 0;
    box-sizing: border-box;
    height: 26px;
    width: 80px;
    color: #eee;
}

.header { border-bottom: 3px solid #ccc; padding: 10px; }
.header:after{ clear: both; display: block; content: '\0'; height: 0; }

.info { margin: 20px; border: 2px solid #ccc; border-radius: 5px; }
.info li { background: #fff; border-bottom: 1px solid #ccc; height: 20px; line-height: 20px; padding: 5px 10px; }
.info li:hover { background: #f9f9f9; }
.info li:last-child { border-bottom: 0; }
.info li b { margin-right: 20px; font-weight: normal; }
.info li span { margin-left: 10px; border-radius: 3px; padding: 3px; }
.info li[data-circular] .dep-circular,
.info li[data-direct] .dep-direct,
.info li[data-hard] .dep-hard { display: inline; }
.info .dep-circular { background: #e11d21; color: #fff; display: none;}
.info .dep-direct { background: #3b55a4; color: #fff; display: none;}
.info .dep-hard { background: #555; color: #fff; display: none;}

#chart {
    background: #fff;
    padding: 10px 0;
    border-bottom: 3px solid #ccc;
}
